<div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="row wrap" class="textwhite" fxLayoutAlign="center stretch" [fxShow]="true">
    <h1 class="body1text headingSec1">
      The smartest way to buy a home</h1>
  </div>
  <div fxLayout="row wrap" class="textwhite marginbot width58" fxLayoutAlign="center stretch" [fxShow]="true">
    <p class="textcenter">
      Lorem ipsum dolor sit amet, consecteis porttitor metus arcu quis dolor.tur adipiscing elit. Suspendisse pellentesque at ante eu hendrerit</p>
  </div>
  <div fxLayout="row wrap" class="marginbot180 backgroundwhite width50 borderadious" fxLayoutAlign="space-around stretch" [fxShow]="true">
    <div fxLayout="column wrap" class="heightfull width30" fxLayoutAlign="center stretch" [fxShow]="true" *ngFor="let item of page.lists">
      <div fxLayout="row wrap" class="height50" fxLayoutAlign="space-around center" [fxShow]="true">
        <p class="iconSec1">
          {{item.title}}
        </p>
        <mat-icon class="iconSec1">{{item.icon}}</mat-icon>
      </div>
      <div fxLayout="row wrap" class="height50" fxLayoutAlign="start stretch" [fxShow]="true">
        <p class="textsec1">
          {{item.decription}}
        </p>
      </div>
    </div>
    <div fxLayout="column wrap" class="iconSec1 width30" fxLayoutAlign="center end" [fxShow]="true">
      <mat-icon style="background-color:red" class="displayflex width_height borderadious">search</mat-icon>
    </div>
  </div>
</div>