<div fxLayout="column wrap" class="widthfull" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="row wrap" class="marginbot" fxLayoutAlign="center stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="40%" fxLayoutAlign="start center" [fxShow]="true">
      <div fxLayout="row wrap" class="marginbot10" fxLayoutAlign="center stretch" [fxShow]="true">
        <h1 class="text">
          Special offer experience</h1>
      </div>
      <div fxLayout="row wrap" class="fontsize25" fxLayoutAlign="center stretch" [fxShow]="true">
        <p class="textsec1">
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam nibh erat, tincidunt in magna quis, ultrices consequat sem. Praesent velit elit, finibus vel nibh nec, posuere iaculis nunc. Proin a feugiat augue. In iaculis augue lorem, ut tincidunt nulla vestibulum et. Aenean iaculis justo turpis. Duis porta cursus libero ac gravida.</p>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" class="width90 marginbot10" fxLayoutAlign="space-between stretch" [fxShow]="true">
    <div fxLayout="column wrap" class="width49 height380 backimg" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" class="textcenter" fxLayoutAlign="end stretch" [fxShow]="true"><label class="displayflex pg3-OpacityText backgroundwhite">
          Amount</label></div>
      <div fxLayout="row wrap" class="pg3-whiteBoxText" fxLayoutAlign="start stretch" [fxShow]="true"><label>
          <span>Location</span>
          <br>
          <span>Number of Months&#x2022;Interest</span></label></div>
    </div>
    <div fxLayout="column wrap" class="width49 height380 backimg" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" class="textcenter" fxLayoutAlign="end stretch" [fxShow]="true"><label class="displayflex pg3-OpacityText backgroundwhite">
          Amount</label></div>
      <div fxLayout="row wrap" class="pg3-whiteBoxText" fxLayoutAlign="start stretch" [fxShow]="true"><label>
          <span>Location</span>
          <br>
          <span>Number of Months&#x2022;Interest</span></label></div>
    </div>
  </div>
  <div fxLayout="row wrap" class="width90 backimg height380" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" class="widthfull heightfull" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" class="textcenter" fxLayoutAlign="end stretch" [fxShow]="true"><label class="displayflex pg3-OpacityText backgroundwhite">
          Amount</label></div>
      <div fxLayout="row wrap" class="pg3-whiteBoxText" fxLayoutAlign="start stretch" [fxShow]="true"><label>
          <span>Location</span>
          <br>
          <span>Number of Months&#x2022;Interest</span></label></div>
    </div>
  </div>
</div>