<div fxLayout="column " fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
  <div fxLayout="row wrap" class="backimg" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" class="widthfull" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <bh-navComp class="textwhite widthfull"></bh-navComp>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <bh-firstSection class="widthfull"></bh-firstSection>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" class="marginbot paddingup" fxLayoutAlign="center stretch" [fxShow]="true">
    <div fxLayout="column wrap" class="width74" fxLayoutAlign="start stretch" [fxShow]="true">
      <p class="textcenter fontsize25 iconSec1">
        &quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque at ante eu hendrerit. Pellentesque vel suscipit nibh. Sed volutpat rhoncus ante at gravida. Nunc eget tortor sit amet quam volutpat auctor. Morbi et dolor in massa laoreet congue. Curabitur bibendum, urna vitae porta luctus, lectus tellus convallis urna, quis porttitor metus arcu quis dolor. Vivamus sit amet tellus quam. Nulla facilisi. Nulla ac nunc varius, accumsan lacus sit amet, auctor sem. Maecenas vel quam elit. Vestibulum a ex consectetur, maximus neque eu, facilisis lorem. Vivamus vehicula a mauris et elementum.&quot;</p>
    </div>
  </div>
  <div fxLayout="row wrap" class="marginbot greyBackground" fxLayoutAlign="start stretch" [fxShow]="true">
    <bh-secondSection class="widthfull"></bh-secondSection>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <bh-thirdSection class="widthfull"></bh-thirdSection>
  </div>
  <div fxLayout="row wrap" class="marginbot" fxLayoutAlign="start stretch" [fxShow]="true">
    <bh-fourthSection class="widthfull"></bh-fourthSection>
  </div>
  <div fxLayout="row wrap" class="greyBackground" fxLayoutAlign="start stretch" [fxShow]="true">
    <bh-fifthSection class="widthfull"></bh-fifthSection>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <bh-sixthSection class="widthfull"></bh-sixthSection>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <bh-footer class="widthfull"></bh-footer>
  </div>
</div>