<div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="row wrap" class="marginbot width90" fxLayoutAlign="space-around stretch" [fxShow]="true">
    <div fxLayout="column wrap" class="width45" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/images/building2.jpeg" class="widthfull"></div>
    <div fxLayout="column wrap" class="width45" fxLayoutAlign="space-around stretch" [fxShow]="true">
      <h1 class="text">
        Enhance your interior through design</h1>
      <p class="textsec1">
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam nibh erat, tincidunt in magna quis, ultrices consequat sem. Praesent velit elit, finibus vel nibh nec, posuere iaculis nunc. Proin a feugiat augue. In iaculis augue lorem, ut tincidunt nulla vestibulum et. Aenean iaculis justo turpis. Duis porta cursus libero ac gravida.</p>
    </div>
  </div>
  <div fxLayout="row wrap" class="height380 width90 marginbot" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/images/building2.jpeg" class="heightfull widthfull"></div>
</div>